.dropdownContainer {
    position: relative;
    width: fit-content;
}

.dropdownButton {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.dropdownButtonText {
    margin-right: 1rem;
}

.dropdownButton img {
    height: 1.2rem;
}

.dropdownMenu {
    border: .1rem solid #21201f;
    position: absolute;
    padding: 1rem;
    width: max-content;
    background-color: white;
}