.filterBarWrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
    border-top: .1rem solid #d3d2d2;
    border-bottom: .1rem solid #d3d2d2;
}

.filterBar {
    max-width: 1400px;
    padding: 1rem;
    margin: auto;
}