@use "../../base";

.filterBarWrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: base.$bg-primary;
    border-top: .1rem solid base.$border-light;
    border-bottom: .1rem solid base.$border-light;
}

.filterBar {
    max-width: 1400px;
    padding: 1rem 4rem;
    margin: auto;
    display: flex;
    column-gap: 1rem;
}

.filterBarMobile {
    padding: 1rem 2rem;
    display: none;
}

.filterTags {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

@media screen and (max-width: 960px) {
    .filterBar {
        display: none;
    }

    .filterBarMobile {
        display: flex;

        button {
            background-color: transparent;
            border: none;

            img {
                height: 1.2rem;
            }
        }
    }
}