@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadingSpinner {
    height: 2rem;
    width: 2rem;
    border: 0.5rem solid #f3f3f3;
    border-top: 0.5rem solid #383636;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}