.productsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    max-width: 1400px;
    margin: auto;
}

@media only screen and (max-width: 961px) {
    .productsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}