@use "../../base";

.accordion {
    border-bottom: .1rem solid base.$border-dark;
    padding: 1rem 2rem;
}

.accordionButton {
    @include base.button-primary;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
        height: 1.2rem;
    }
}